<div class="col-md-6">
  <%= f.field_container :nickname, class: ['form-group'] do %>
    <%= f.label :nickname, Spree.t(:nickname) %>
    <%= f.text_field :nickname, class: 'form-control' %>
    <%= error_message_on :user, :nickname %>
  <% end %>
</div>
