<div class="container">
  <%= render partial: 'spree/shared/blogs_breadcrumbs', locals: { blog: nil, tag: nil, post: nil } %>
  <div class="row">
    <h1>Blog: <%= @blog.title %></h1>
  </div>

<div class="row">
  <div class="col-8">
    <%= render 'posts' %>
  </div>

  <div class="col-4">
    <%= render partial: 'spree/shared/tag_cloud', locals: { posts: @posts } %>
  </div>
</div>
