<div class="container">
  <%= render partial: 'spree/shared/blogs_breadcrumbs', locals: { blog: @blog, tag: @tag, post: nil } %>
  <div class="row">
    <h1><%= @tag %></h1>
  </div>

<div class="row">
  <div class="col-8">
    <%= render 'posts' %>
  </div>
</div>
