<div class="tag_cloud_wrapper">
  <h6><%= I18n.t('spree_blogs.frontend.tag_list') %></h6>
  <ul class="tag_cloud">
    <% tags = posts.tag_counts_on(:tags) %>
    <% tag_cloud(tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <li>
        <%= link_to tag.name, blog_tag_path(@blog, tag.slug), class: css_class %>
      </li>
    <% end %>
  </ul>
</div>
